src/obj
src/bin
src/test/obj
src/test/bin
*.user
*.suo
/test/*.csproj
/test/Library
/test/Temp
/test/obj
/test/bin
/test/*.userprefs
/test/*.pidb
/test/*.sln
/test/Assets/uniq.dll
/test/Assets/uniq.dll.meta
